<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/range-datepicker/range-datepicker.html">
<link rel="import" href="../../bower_components/range-datepicker/range-datepicker-input.html">
<link rel="import" href="../../bower_components/vaadin-ordered-layout/vaadin-horizontal-layout.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../components/booking-form.html">
<link rel="import" href="../components/board-layout.html">

<dom-module id="accommodation-detail">
    <template>
        <style include="view-styles">

        </style>
        <div style="background: rgba(244, 245, 249, 1)">
            <div class="accommodation-div">
                <span id="accommodationName" class="accommodation-name"></span>
            </div>

            <div class="accommodation-div">
                <span id="accommodationAddress" class="accommodation-address"></span>
            </div>

            <vaadin-horizontal-layout class="accommodation-div" theme="spacing-xl" style="margin-top: 1em">
                <div>
                    <iron-icon icon="vaadin:group"></iron-icon>
                    <span id="guests"></span>
                </div>
                <div>
                    <iron-icon icon="vaadin:bed"></iron-icon>
                    <span id="beds"></span>
                </div>
                <div>
                    <iron-icon icon="vaadin:lifebuoy"></iron-icon>
                    <span id="baths"></span>
                </div>
            </vaadin-horizontal-layout>

            <board-layout id="photos"></board-layout>

            <div class="accommodation-div">
                <booking-form id="bookingForm"></booking-form>
            </div>

            <div id="photoModal" class="photo-modal">
                <span id="photoModalClose" class="photo-modal-close">&times;</span>
                <img id="photoModalImg" class="photo-modal-content">
            </div>
        </div>
    </template>

    <script>
        class AccommodationDetail extends Polymer.Element {
            static get is() {
                return 'accommodation-detail'
            }
        }
        customElements.define(AccommodationDetail.is, AccommodationDetail);
    </script>

</dom-module>