<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-ordered-layout/vaadin-vertical-layout.html">

<dom-module id="bookings-view">
    <template>
        <style include="view-styles">

        </style>

        <div>
            <span>HELLO</span>
        </div>
    </template>

    <script>
        class BookingsView extends Polymer.Element {
            static get is() {
                return 'bookings-view'
            }
        }
        customElements.define(BookingsView.is, BookingsView);
    </script>

</dom-module>