<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-password-field.html">
<link rel="import" href="../../bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">

<dom-module id="login-view">
    <template>
        <style include="view-styles">

            .login-form {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: fit-content;
                height: fit-content;
                padding: 24px;
                border: 1px solid #e4e4e4;
                background-color: #ffffff;
            }

        </style>
        <div>
            <vaadin-form-layout id="loginForm" class="login-form">

                <vaadin-text-field id="emailField" placeholder="Enter login email" label="Email"></vaadin-text-field>
                <vaadin-password-field id="passwordField" placeholder="Enter password" label="Password" reveal-button-hidden></vaadin-password-field>

                <vaadin-button id="loginButton" theme="primary" style="margin-top: 1em; cursor: pointer">
                    <span>Log In</span>
                </vaadin-button>

            </vaadin-form-layout>
        </div>
    </template>

    <script>
        class LoginView extends Polymer.Element {
            static get is() {
                return 'login-view'
            }
        }
        customElements.define(LoginView.is, LoginView);
    </script>

</dom-module>
