<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/range-datepicker/range-datepicker.html">
<link rel="import" href="../../bower_components/range-datepicker/range-datepicker-input.html">

<dom-module id="booking-form">
    <template>
        <style include="view-styles">

            .booking_form {
                width: 20em;
                height: 22em;
                padding-left: 24px !important;
                padding-right: 24px !important;
                margin: 0px !important;
                border: 1px solid #e4e4e4 !important;
                background-color: #ffffff !important;
            }

            .delimiter {
                border-bottom: 1px solid #DBDBDB !important;
            }

            .book_button {
                cursor: pointer !important;
                transition: background 0.2s, border-color 0.2s !important;
                border-radius: 4px !important;
                width: 100% !important;
                border-width: 2px !important;
                margin-top: 1em;
                border-color: transparent !important;
            }
            .price {
                margin: 0px !important;
                word-wrap: break-word !important;
                font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
                font-size: 22px !important;
                line-height: 28px !important;
                letter-spacing: -0.2px !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                color: #484848 !important;
                font-weight: 700 !important;
                display: inline !important;
            }

            .total {
                display: table !important;
                width: 100% !important;
                color: #484848;
                font-size: 20px !important;
                margin-top: 1em;
            }

            .total_text {
                display: table-cell !important;
                width: 50%;
                vertical-align: middle !important;
            }

            .total_price {
                display: table-cell !important;
                vertical-align: middle !important;
            }
        </style>

        <vaadin-form-layout id="form" class="booking_form">
            <div style="margin-top:16px;margin-bottom:24px">


                <div>
                    <span class="price">
                        <span id="priceSpan"></span>
                    </span>
                        <span>per night</span>
                </div>

                <div style="margin-top:16px;margin-bottom:16px">
                    <div class="delimiter"></div>
                </div>

                <range-datepicker-input date-format="DD.MM.YYYY">
                    <template>
                        <div class="layout vertical">
                            <paper-input label="Check In" value="{{dateFrom}}"></paper-input>
                            <paper-input label="Check Out" value="{{dateTo}}"></paper-input>
                        </div>
                    </template>
                </range-datepicker-input>

                <div class="total">
                    <div class="total_text"><span id="totalTextSpan">Total</span></div>
                    <div class="total_price"><span id="totalPriceSpan"></span></div>
                </div>

                <vaadin-button id="book" class="book_button">
                    <span>Book</span>
                </vaadin-button>

            </div>
        </vaadin-form-layout>
    </template>

    <script>
        class BookingForm extends Polymer.Element {
            static get is() {
                return 'booking-form'
            }
        }
        customElements.define(BookingForm.is, BookingForm);
    </script>

</dom-module>
